h1 {
  text-shadow: 10px 10px 25px black;
}

a {
  text-decoration: none;
}

body {
  background-color: #282C34;
  font-family: "Courier New", monospace, serif;
  color: #9DA5B4;
  text-size: 13px;
}

pre {
  font-size: 13px;
}

td {
  vertical-align: text-top;
  font-size: 13px;
  line-height: 13px;
}

.header_footer_section {
  background-color: #353B45;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

.social {
  height: 40px;
}

.code_block {
  width: 850px; /*Not responsive, figure out how to make 80% and not greater than 750px*/
  align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 25px black;
  border-color: #59C0A7;
  border-width: 1px;
  border-style: solid;
}

.purple {
  color: #C678DD;
}

.blue {
  color: #56B6C2;
}

.red {
  color: #E06C75;
}

.tan {
  color: #E5C07B;
}

#left_col {
  text-align: right;
  padding-right: 30px;
}

#right_col {
  text-align: left;
}
