span {
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

hr {
    width: 80%;
    color: var(--color7);
}

a:link, a:visited {
    color: var(--color7);
    text-decoration: underline;
}

.pheader {
    color: var(--color2);
    font-weight: bolder;
    text-shadow: 5px 5px 5px black;
}

.info {
    color: var(--color7);
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.subPic {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin: 10px;
    opacity: .4;
    box-shadow: 5px 5px 5px black;
}

.subContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 90;

}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 0px
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .photo {
      margin-left:auto;
      margin-right: auto;
      max-width:100%;
  }


@media only screen and (max-width: 900px) {
    #bgMain, #bgProjects, #bgArt {
        width: 150px;
        height: 150px;
        border-radius:150px;
        margin: 0px auto 0px auto;
        opacity: .4;
        box-shadow: 5px 5px 5px black;
    }

    .slideContent {
        margin-top: 0px;
        display: flex;
        position: inherit;
    }

    .container {
        height: 200px;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
        margin-top: 100px;

    }

    .info {
        font-size: 12px;
    }

    .subPic {
        width: 120px;
        height: 120px;
        border-radius: 120px;
        border: 3px solid var(--color7);
    }

    nav {
        display: sticky;
        top: 0px;
    }

    body, html {
        height: fit-content;
        overflow-y: visible;
    }

    ul {
        list-style-type: none;
    }
}

@media only screen and (min-width: 901px) {
    .container{
        justify-content: center;
        box-shadow: 0px 5px 5px black;
    }

    .project, hr {
        width: 50%;
    }
 
}